@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
html{
    background-color: #1B1B1B ;
}
*{
    font-family: 'Raleway', sans-serif !important;
    background-color:#1B1B1B;

}
body{
    background-color:#1B1B1B;
}
a:hover{
    text-decoration: none;
}
#three-d{
  display: inline-block;
  background-color:rgb(246, 192, 16);
  height:10px;
  width:10px; 
}
#circle{
    display: inline-block;
    width:10px;
    height:10px;
    border-radius: 50%;
    background: #9f1af8;
}


a{
    background: transparent;
}
.sidebar a:hover{
    color:#b9b9b9;
}


@media screen and (max-width:576px){
    .sidebar{
        display: none;
      }
      .nav.mx-auto{
        padding-left: 50px;
    }
      #help h3{
          display: none;
      }
      #image-help{
          padding-top: 20px;
      }
      .optional{
          border-style: solid;
          border-width: 2px;
          border-color: white;
          background-color: #202020;
      }
      .optional h4{
          color:white;
          font-size: 30px;
          font-weight: 800;
          background-color: #202020;
      }
      .optional p{
          color:white;
          background-color: #202020;
      }
    #service-container{
        background-color: #414040;
        padding-top: 10px;
        padding-bottom: 10px;
    }
#service h1{
    background-color: #414040;
    font-size: 40px;
}
#serviceContent{
    background-color:#202020 ;
    border-width: 3px;
    border-style: solid;
    border-color: white;
}
#serviceContent p{
    background-color: #202020;
    color:white;
    display: block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    font-size: 20px;
}
#what{
    width:100%;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 10px;

}
#what h1{
    color:white;
    font-weight: 800;
    font-size: 30px;
}
#what p{
    color:white;
    font-weight: 800;
    font-size: 18px;
}


    #msg-box{
        display: block;
        background-color: #414040;

    }
    #shoot-msg{
        position:relative;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        max-width:220px;
        min-height:120px;
        top:80px;
        z-index: 10;
    }
    #social{
        position: relative;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        max-width:200px;
        min-height: 100px;
        top:50px;
        left:30px;
        margin-bottom: 50px;
    }
    
    #contact{
        position:relative;
        background-color: #414040;

    }
    #contact-head{
        font-weight: 800;
        margin-top:10%;
        background-color: #202020;

    }
    #contact-us{
        position: absolute;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        min-width: 220px;
        min-height: 80px;
        top:50px;
        left:60px;
        text-align: center;
        z-index: 10;
    }
    #contact-us-form{
      position:relative;
      display: block;
      background-color: #202020;
      color:white;
      border-style: solid;
      border-width: 2px;
      border-color:black;
      width:250px;
      height:auto;
      padding-bottom: 30px;
      top:100px;
      text-align: center;
    }
    #contact-button{
        position:relative;
        top:100px;
        background-color: #414040;

    }
    #input-box{
        margin-bottom: 10px;
        width:100%;
        background-color: #202020;

    }
    #text-box{
        background-color:#202020;
    }
    #send-msg{
        background-color: white;
        border-radius: 0px;
        min-width:200px;
    }

}
@media screen and (min-width:576px) and (max-width:767.5px){
    .sidebar{
        display: none;
      }
      .nav.mx-auto{
          padding-left: 100px;
      }
    #help{
        position: relative;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        background-color:#202020;
        color:white; 
        z-index: 10;
        height: auto;
        width:384px;
        margin-left:auto;
        margin-right: auto;
    }
    #help h3{
        display: none;
    }
    #image-help{
        padding-top: 10px;
    }
    .optional{
        border-style: solid;
        border-width: 2px;
        border-color: white;
        background-color: #202020;
    }
    .optional h4{
        color:white;
        font-size: 30px;
        font-weight: 800;
        background-color: #202020;
    }
    .optional p{
        color:white;
        background-color: #202020;
    }

    #service-container{
        background-color: #414040;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     #service h1{
         background-color: #414040;
         font-size: 40px;
     }
     #serviceContent{
         background-color: #414040;
     }
     #serviceContent p{
         background-color: #414040;
         color:white;
         display: block;
         text-align: center;
         font-weight: 700;
         margin-bottom: 0;
         font-size: 20px;
     }
     #what{
         width:600px;
         border-bottom-color: white;
         border-bottom-style: solid;
         border-bottom-width: 10px;
 
     }
     #what h1{
         color:white;
         font-weight: 800;
         font-size: 30px;
     }
     #what p{
         color:white;
         font-weight: 800;
         font-size: 18px;
     }

    #msg-box{
        display: block;
        background-color: #414040;
    }
    #shoot-msg{
        position:relative;
        background-color:#202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        max-width:275px;
        min-height:120px;
        top:80px;
        z-index: 10;
    }
    #social{
        position: relative;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        max-width:200px;
        min-height: 100px;
        top:50px;
        left:70px;
        margin-bottom: 50px;
    }
    
    #contact{
        position:relative;
        background-color: #414040;

    }
    #contact-head{
        font-weight: 800;
        margin-top:10%;
        background-color: #202020;

    }
    #contact-us{
        position: absolute;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        min-width: 275px;
        min-height: 100px;
        top:25px;
        left:100px;
        text-align: center;
        z-index: 10;
    }
    #contact-us-form{
      position:relative;
      display: block;
      background-color: #202020;
      color:white;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      width:300px;
      height:auto;
      padding-bottom: 30px;
      top:100px;
      text-align: center;
    }
    #contact-button{
        position:relative;
        top:100px;
        background-color: #414040;
    }
    #input-box{
        padding-bottom: 10px;
        width:100%;
        background-color: #202020;
    }
    #text-box{
        background-color:#202020;
    }
    #send-msg{
        background-color: white;
    }

}
@media screen and (min-width:768px) and (max-width:992px){
    .sidebar{
      display: none;
    }
    #help{
        font-weight: 800;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        background-color:#1B1B1B;
        color:white;
        width:280px;
        height:276px;
        margin-left: auto;
        padding-top:40px;
    }
    .optional{
        display: none;
    }
    #subhero{
        padding-right: 40px;
    }
    #image-help{
        margin-right: auto;
    }
    #help h3{
        font-size: 36px!important;
    }
    #service-container{
        background-color: #414040;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     #service h1{
         background-color: #414040;
         font-size: 40px;
     }
     #serviceContent{
         background-color: #414040;
     }
     #serviceContent p{
         background-color: #414040;
         color:white;
         display: block;
         text-align: center;
         font-weight: 700;
         margin-bottom: 0;
         font-size: 20px;
     }
     #what{
         width:600px;
         border-bottom-color: white;
         border-bottom-style: solid;
         border-bottom-width: 10px;
 
     }
     #what h1{
         color:white;
         font-weight: 800;
         font-size: 30px;
     }
     #what p{
         color:white;
         font-weight: 800;
         font-size: 18px;
     }
   
    #msg-box{
        display: block;
        background-color: #414040;
    }
    #shoot-msg{
        position:relative;
        background-color:#202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        max-width:275px;
        min-height:120px;
        top:80px;
        z-index: 10;
    }
    #social{
        position: relative;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        max-width:200px;
        min-height: 100px;
        top:50px;
        left:70px;
        margin-bottom: 50px;
    }
    #contact{
        position:relative;
        background-color: #414040;

    }
    #contact-head{
        font-weight: 800;
        margin-top:10%;
        background-color: #202020;
    }
    #contact-us{
        position: absolute;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        min-width: 275px;
        min-height: 100px;
        top:25px;
        left:100px;
        text-align: center;
        z-index: 10;
    }
    #contact-us-form{
      position:relative;
      display: block;
      background-color: #202020;
      color:white;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      width:300px;
      height:auto;
      padding-bottom: 30px;
      top:100px;
      text-align: center;
    }
    #contact-button{
        position:relative;
        top:100px;
        background-color: #414040;
    }
    #input-box{
        margin-bottom: 10px;
        width:100%;
        background-color: #202020;
    }
    #text-box{
        background-color:#202020;
    }
    #send-msg{
        background-color: white;
    }
}
@media screen and (min-width:992px) and (max-width:1200px){
    .sidebar{
        width:5rem;
        height:100vh;
        position:fixed ;
        background-color: #2A2E35;
    }
    .sidebar ul{
        margin:0px;
        padding:0px;
        list-style-type: none;
        background-color: #2A2E35;

    }
    .sidebar li{
        text-decoration: none;
        background-color: #2A2E35;
        padding:10px;
        padding-left: 15px;

    }
    .sidebar a{
        text-decoration: none;
        color:white;
        background-color: #2A2E35;
    }
    .sidebar i{
        background-color: transparent;
        font-size:42px;
    }
    .nav.mx-auto{
        display: none;
    }
    #help{
        font-weight: 800;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        background-color:#1B1B1B;
        color:white;
        width:480px;
        height:333px;
        margin-left: auto;
        padding-top:40px;
    }
    #image-help{
        margin-right: auto;
    }
    .optional{
        display: none;
    }
    #service-container{
        background-color: #414040;
        padding-top: 50px;
        padding-bottom: 50px;
     }
     #service h1{
         background-color: #414040;
         font-size: 60px;
     }
     #serviceContent{
         background-color: #414040;
     }
     #serviceContent p{
         background-color: #414040;
         color:white;
         display: block;
         text-align: center;
         font-weight: 700;
         margin-bottom: 0;
         font-size: 30px;
     }
     #what{
         margin-left: 80px;
         width:864px;
         border-bottom-color: white;
         border-bottom-style: solid;
         border-bottom-width: 10px;
 
     }
     #what h1{
         color:white;
         font-weight: 800;
         font-size: 50px;
     }
     #what p{
         color:white;
         font-weight: 800;
         font-size: 25px;
     }
    #msg-box{
        display: block;
        background-color: #414040;
    }
    #shoot-msg{
        position:relative;
        background-color:#202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        max-width:275px;
        min-height:120px;
        top:80px;
        z-index: 10;
    }
    #social{
        position: relative;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        max-width:200px;
        min-height: 100px;
        top:50px;
        left:70px;
    }
    
    #contact{
        position:relative;
        background-color: #414040;
    }
    #contact-head{
        font-weight: 800;
        margin-top:10%;
        background-color: #202020;
    }
    #contact-us{
        position: absolute;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        min-width: 275px;
        min-height: 100px;
        top:25px;
        left:100px;
        text-align: center;
        z-index: 10;
    }
    #contact-us-form{
      position:relative;
      display: block;
      background-color: #202020;
      color:white;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      width:100%;
      height:auto;
      padding-bottom: 30px;
      top:100px;
    }
    #input-box{
        background-color: #202020;
    }
    #text-box{
        background-color:#202020;
    }
    #contact-button{
        position:relative;
        top:100px;
        background-color: #414040;

    }
    #send-msg{
        background-color: white;
        width:566px;
    }
    footer{
        padding-left: 90px;
    }
    #contactContainer{
        padding-left: 90px;
    }
    #whatfor{
        padding-left: 90px;
    }
    #heroContainer{
       padding-left: 90px;
    }
    #subhero{
        padding-left: 90px;
    }
}
@media screen and (min-width:1200px){
    .sidebar{
        width:5rem;
        height:100vh;
        position:fixed ;
        background-color: #2A2E35;
    }
    .sidebar ul{
        margin:0px;
        padding:0px;
        list-style-type: none;
        background-color: #2A2E35;

    }
    .sidebar li{
        text-decoration: none;
        background-color: #2A2E35;
        padding:10px;
        padding-left: 15px;

    }
    .sidebar a{
        text-decoration: none;
        color:white;
        background-color: #2A2E35;
    }
    .sidebar i{
        background-color: transparent;
        font-size:42px;
    }
    .nav.mx-auto{
        display: none;
    }
    #help{
        font-weight: 800;
        border-style: solid;
        border-color: white;
        border-width: 2px;
        background-color:#1B1B1B;
        color:white;
        width:526px;
        height:333px;
        margin-left: auto;
        padding-top:40px;
    }
    #image-help{
     margin-right: auto;
    }
    .optional{
        display: none;
    }
    #service-container{
       background-color: #414040;
       padding-top: 50px;
       padding-bottom: 50px;
    }
    #service h1{
        background-color: #414040;
        font-size: 60px;
    }
    #serviceContent{
        background-color: #414040;
    }
    #serviceContent p{
        background-color: #414040;
        color:white;
        display: block;
        text-align: center;
        font-weight: 700;
        margin-bottom: 0;
        font-size: 30px;
    }
    #what{
        margin-left: 80px;
        width:864px;
        border-bottom-color: white;
        border-bottom-style: solid;
        border-bottom-width: 10px;

    }
    #what h1{
        color:white;
        font-weight: 800;
        font-size: 50px;
    }
    #what p{
        color:white;
        font-weight: 800;
        font-size: 25px;
    }
    #msg-box{
        display: block;
        background-color: #414040;
    }
    #shoot-msg{
        position:relative;
        background-color:#202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color: black;
        max-width:275px;
        min-height:120px;
        top:80px;
        z-index: 10;
    }
    #social{
        position: relative;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        max-width:200px;
        min-height: 100px;
        top:50px;
        left:100px;
    }
    
    #contact{
        position:relative;
        background-color: #414040;
    }
    #contact-head{
        font-weight: 800;
        margin-top:10%;
        background-color: #202020;
    }
    #contact-us{
        position: absolute;
        background-color: #202020;
        color:white;
        border-style: solid;
        border-width: 2px;
        border-color:black;
        min-width: 275px;
        min-height: 100px;
        top:25px;
        left:120px;
        text-align: center;
        z-index: 10;
    }
    #contact-us-form{
      position:relative;
      display: block;
      background-color: #202020;
      color:white;
      border-style: solid;
      border-width: 2px;
      border-color: black;
      max-width: 630px;
      height:auto;
      padding-bottom: 30px;
      top:100px;
    }
    #input-box{
        background-color: #202020;
    }
    #text-box{
        background-color:#202020;
    }
    #contact-button{
        position:relative;
        top:100px;
        background-color: #414040;
    }
    #send-msg{
        background-color: white;
        width:566px;
    }
    footer{
        padding-left: 90px;
    }
    #contactContainer{
        padding-left: 90px;
    }
    #whatfor{
        padding-left: 90px;
    }
    #heroContainer{
       padding-left: 90px;
    }
}


 



